<!doctype html>
<html lang="en">
  <head>
    <title>Frameworks</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Simple RESTful API">
    <meta name="author" content="Ajay Bhatia">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <h1 class="display-3" style="font-variant: small-caps">Frameworks</h1>
        <p class="lead font-italic">Simple RESTful API</p>
        <hr class="my-2">
        <p class="h3 font-weight-light">Routes</p>
        <p class="lead">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td scope="row" class="text-left">
                  <h4><span class="badge badge-primary">GET</span></h4>
                </td>
                <td class="text-right">
                  <h4><a href="/frameworks">/frameworks</a></h4>
                </td>
              </tr>
              <tr>
                <td scope="row" class="text-left">
                  <h4><span class="badge badge-warning">GET</span></h4>
                </td>
                <td class="text-right">
                  <h4><a href="#">/frameworks/{name}</a></h4>
                </td>
              </tr>
              <tr>
                <td scope="row" class="text-left">
                  <h4><span class="badge badge-info">PUT</span></h4>
                </td>
                <td class="text-right">
                  <h4><a href="#">/frameworks/{name}</a></h4>
                </td>
              </tr>
              <tr>
                <td scope="row" class="text-left">
                  <h4><span class="badge badge-danger">DELETE</span></h4>
                </td>
                <td class="text-right">
                  <h4><a href="#">/frameworks/{name}</a></h4>
                </td>
              </tr>
              <tr>
                <td scope="row" class="text-left">
                  <h4><span class="badge badge-danger">DELETE</span></h4>
                </td>
                <td class="text-right">
                  <h4><a href="/frameworks">/frameworks</a></h4>
                </td>
              </tr>
              <tr>
                <td scope="row" class="text-left">
                  <h4><span class="badge badge-success">POST</span></h4>
                </td>
                <td class="text-right">
                  <h4><a href="#">/framework</a></h4>
                </td>
              </tr>
              <tr>
                <td scope="row" class="text-left">
                  <h4><span class="badge badge-success">POST</span></h4>
                </td>
                <td class="text-right">
                  <h4><a href="/fixture-frameworks">/fixture-frameworks</a></h4>
                </td>
              </tr>
            </tbody>
          </table>
        </p>
      </div>
    </div>

    <div class="fixed-bottom">
      <div class="text-center social" style="font-size: 1.5em">
        <a href="https://google.com/+AjayBhatia" style="text-decoration: none; color: #333">
          <i class="fa fa-google-plus-official" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/prof.ajaybhatia" style="text-decoration: none; color: #333">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/profajaybhatia" style="text-decoration: none; color: #333">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/ajaybhatia" style="text-decoration: none; color: #333">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/profajaybhatia/" style="text-decoration: none; color: #333">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
      </div>
      <div class="text-center font-weight-bold">
        &copy; Ajay Bhatia, 2018
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
